Options -Indexes

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^devworksosi.tech [NC]

RewriteRule ^(.*)$ http://www.devworksosi.tech/$1 [L,R=301,NC]
# https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
# Logging PHP Errors
php_flag log_errors on 
php_value error_log logs/php_error.log

# Site Errors

# Bad Request
ErrorDocument 400 /error

# Unauthorized
ErrorDocument 401 /error

# Forbidden
ErrorDocument 403 /error

# Not Found
ErrorDocument 404 /error

# Not Found
ErrorDocument 408 /error

# Gone
ErrorDocument 410 /error

# Internal Server Error
ErrorDocument 500 /error

# Service Unavailable
ErrorDocument 503 /error

RewriteRule ^error /?p=error

# User
RewriteRule ^signup /?p=signup [L]
RewriteRule ^login /?p=login [L]
RewriteRule ^logout /?p=logout [L]

# Site Management
RewriteRule ^manage /?p=manage [L]