Options -Indexes

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^%{HTTP_HOST}%{REQUEST_URI [NC]

RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI/$1 [L,R=301,NC]
# https
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
# Logging PHP Errors
php_flag log_errors on 
php_value error_log ../../logs/microcms/php_error.log

# Site Errors
RewriteRule ^error /?p=error
# Bad Request
ErrorDocument 400 /error

# Unauthorized
ErrorDocument 401 /error

# Forbidden
ErrorDocument 403 /error

# Not Found
ErrorDocument 404 /error

# Not Found
ErrorDocument 408 /error

# Gone
ErrorDocument 410 /error

# Internal Server Error
ErrorDocument 500 /error

# Service Unavailable
ErrorDocument 503 /error

# User
RewriteRule ^signup /?p=signup
RewriteRule ^login /?p=login
RewriteRule ^logout /?p=logout

# Site Management
RewriteRule ^manage /?p=manage