Options -Indexes

RewriteEngine On
#RewriteBase /
RewriteCond %{HTTP_HOST} ^%{HTTP_HOST}%{REQUEST_URI [NC]

RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI/$1 [L,R=301,NC]

# https
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
# Logging PHP Errors
php_flag log_errors on 
php_value error_log logs/mc-error.log

# Site Errors

# Bad Request
ErrorDocument 400 /400 [L]

# Unauthorized
ErrorDocument 401 /error-401 [L]

# Forbidden
ErrorDocument 403 /error-403 [L]

# Not Found
ErrorDocument 404 /?page=error&op=error_404 [L]

# Not Found
ErrorDocument 408 /error408 [L]

# Gone
ErrorDocument 410 /error-410 [L]

# Internal Server Error
ErrorDocument 500 /error-500 [L]

# Service Unavailable
ErrorDocument 503 /error-503 [L]

RewriteRule ^404/?$ /?page=error&op=error_404

# User
RewriteRule ^signup /?page=signup
RewriteRule ^login /?page=login [L]
RewriteRule ^logout /?page=logout

# Site Management
RewriteRule ^manage /?page=manage
